/*font-family: Cabin*/
@font-face{
    font-family: Cabin;
    src: url('../fonts/Cabin-Bold.ttf');
}

/*font-family: Herr Von Muellerhoff*/
@font-face{
    font-family: Herr Von Muellerhoff;
    src: url('../fonts/HerrVonMuellerhoff-Regular.ttf');
}

/*font-family: Source Sans Pro*/
@font-face{
    font-family: Source Sans Pro;
    src: url('../fonts/SourceSansPro-Black.ttf');
}

/* font-family: Lexend
@font-face{
    font-family: Lexend;
    src: url('../fonts/Lexend_Deca/LexendDeca-Regular.ttf');
}

/*font-family: Livvic
@font-face{
    font-family: Livvic;
    src: url('../fonts/Livvic/Livvic-Regular.ttf'); */
